body {
background: #CADBC0;
font-family: "Georgia", serif;
padding: 50px;
width: 100vw;
box-sizing: border-box;
}
/*not sure how to change the font???someone help -Maddy */

h1{
  display:flex;
  justify-content:center;
}



.navlist {
  width:100%;
  border: 1px solid black;
  display:flex;
flex-wrap: wrap;
  flex-direction:row;
  justify-content: space-between;
  padding:0;
  margin:0;
  list-style-type: none;
}


.navlist {
  font-size: 1.15em;
  background:#FFFDD0;
  border: 3px solid black;
display:flex;
  flex-direction:row;
  align-content: center;
  padding:0;
  margin:0;
  height: 40px;
  list-style-type: none;
}

.navlist li {
  width:50%;
  box-sizing:border-box;
}

.logo {
  width:100%;
  max-width:400px;

}


.backtotop{
  display:flex;
  justify-content:center;
}

#logo{
  position: fixed;
  top:0;
  left:0;
}

/*banking page starts*/
#Largest-US-Banks{
  position: flex;
  background: #FFFDD0;
  border: 3px solid black;
  max-width: 100%;
}

#credit-score{
  width: 90%;
  max-width: 200px;
  justify-content: center;
  height: auto;
  margin: auto;
}

/*budgeting page style starts -Maddy*/
.tabletext{
  width:25%;
  display:flex;
  justify-content: center;
}

.cityphoto{
  width: 50%;
}

.cityphoto img {
  width:100%;
  max-width:300px;
}

#the503020method img{
  display:flex;
  justify-content:center;
  width:100%;
  max-width:400px;
}

#cities-col {
  border: 3px solid black;
  background: #FFFDD0;
}

#cities-col tr {
  border-bottom:1px solid black;
  display: block;
}

#stlouisimage {
  max-width: 100%;
  height:auto;
  border: 1px solid black;
}
#chicagoimage {
  max-width: 100%;
  height:auto;
  border: 1px solid black;
}
#dallasimage {
  max-width: 100%;
  height:auto;
  border: 1px solid black;
}
#charlotteimage{
  max-width: 100%;
  border: 1px solid black;
  height:auto;
}

#signs img {
  width: 90%;
  max-width: 600px;
  height: auto;
  margin: auto;
}


/*investing style*/

img.investing {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

  @media (min-width: 500px) {
    .navlist li {
      width:25%;
    }
  .robin {
    width:100%;
    max-width:250px;
    margin: auto;
    height: auto;
    min-width: 100px;
    object-fit: scale-down;
    display:block;
    margin-left: auto;
  margin-right: auto;
  }
  .wells {
    max-width: 200px;
    width: 100%;
    height: auto;
    display:block;
    margin-left: auto;
  margin-right: auto;
  }
  .elle {
    display:block;
    margin-left: auto;
  margin-right: auto;
  }
  .caption {
    text-align: center;
  }
