body {
background: #CADBC0;
font-family: "Chronicle Display", serif;
}
/*not sure how to change the font???someone help -Maddy */

.navlist {
  width:100%;
  border: 1px solid red;
  display:flex;
  flex-direction:column;
  padding:0;
  margin:0;
  list-style-type: none;
}

@media (min-width: 700px) {
.navlist {
  font-size: 2em;
  background:#FFFDD0;
  border: 3px solid black;
  flex-direction:row;
}

.navlist li {
  width:25%;
}
}

@media (min-width: 800px) {
}

#the503020method {
  border: 3px solid black;
}

#cities-col {
  border: 3px solid black;
}

#stlouisimage {
  max-width: 100%;
  height:auto;
  border: 2px solid black;
}
#chicagoimage {
  max-width: 100%;
  height:auto;
  border: 2px solid black;
}
#dallasimage {
  max-width: 100%;
  height:auto;
  border: 3px solid black;
}
#charlotteimage{
  max-width: 100%;
  border: 2px solid black;
  height:auto;
}
