body {
  margin:0;
  padding:0;
}

.navlist {
  width:100%;
  border: 1px solid red;
  display:flex;
  flex-direction:column;
  padding:0;
  margin:0;
  list-style-type: none;
}



@media (min-width: 700px) {
.navlist {
  border: 3px dotted green;
  flex-direction:row;
}

.navlist li {
  width:25%;
}

}




@media (min-width: 800px) {

}
